.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100%);
  border: 0;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2) !important;
}

.networkIcon {
  font-size: 100px !important;
  margin-bottom: 20px;
}

.yearnLogo {
  width: 130px !important;
  height: 25px !important;
  left: 20px;
  top: 16px;
  position: absolute;
  cursor: pointer !important;
}

.animClass {
  width: 400px;
  margin: auto;
  margin-bottom: -100px;
  margin-top: -100px;
  display: none;
}

.intro {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: #FFF !important;
}

.aboutmodal dialog {
  border: 10px solid red;
}

.abouttext {
  background: none !important;
  font-size: 14px !important;
  line-height: 1.5em !important;
}

.abouttext a {
  color: #374DFA !important;
}

.abouttitle {
  background: none !important;
  margin-bottom: 20px !important;
  font-size: 16px !important;
  margin: 0 !important;
}

.instantSearch {
  position: absolute;
  left: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  padding-right: 15px;
  height: 100%;
}

.accountButton {
  display: flex;
  align-items: center;
  margin-left: 14px !important;
  min-height: 40px;
  background-color: rgba(0,0,0,0) !important;
  border: 1px solid rgba(108,108,123, 0.2) !important;
  border-radius: 60px !important;
  /* color: #FFF !important; */
}

.accountButton {
  font-weight: 700 !important;
  font-size: 12px !important;
  margin-left: 10px !important;
}

.prettyButton {
  font-weight: 700 !important;
  font-size: 12px !important;
  margin-left: 14px !important;
  background: linear-gradient(-45deg, #23a6d5, #234ce7);
	background-size: 200% 200%;
	animation: gradient 35s ease infinite;
  color: #fff !important;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  border-radius: 30px !important;
  padding: 9px 20px !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.prettyButton:hover {
  background-image: linear-gradient(270deg ,#1c46f5 0,#0005d3) !important;
}

.accountIcon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  margin-right: 12px;
}

.headBtnTxt {
  font-size: 13px !important;
  font-weight: 700 !important;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}

.themeSelectContainer {
  /* position: absolute;
  left: 150px; */
}

.switchIcon {
  font-size: 1rem !important;
  margin-top: 0.275rem;
  color: rgba(108,108,123, 1);
}

.switchIcon:hover {
  background: none !important;
}

.backButton {
  width: 40px;
  flex: 1;
  top: 170px;
  left: 5px;
  position: absolute;
  z-index: 0;
  color: white !important;
  border-radius: 60px;
}

.chainInvalidError {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: fixed;
  left: 0;
  top: 0px;
  text-align: center;
  min-width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background: rgba(26,27,30,0.9);
  z-index: 11 !important;
}

.ErrorContent {
}

.ErrorTxt {
  color: #FFF;
  max-width: 420px;
  line-height: 1.5em !important;
  font-size: 1.4em !important;
}

.shortcutInfo {
  color: rgb(133, 133, 133);
  font-size: 16px;
  margin-right: 15px;
}

.ffTitle {
  cursor: pointer;
  min-width: 150px;
  width: calc(50% - 678px);
  font-size: 24px !important;
  color: #1c46f5 ;
}

.flex1 {
  flex: 1;
}

.linksBar {
  flex: 1;
  display: flex;
}

.link {
  margin: 2px 0px !important;
  margin-right: 24px !important;
  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid #1c46f5 ;
  margin-bottom: 0px !important;
}

.linkActive {
  margin: 2px 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 2px solid #1c46f5 ;
  margin-right: 24px !important;
  cursor: pointer;
}

.pageTitle {
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .headerContainer {
    display: none;
  }
}

@media screen and (min-width: 992px) {

}
