.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  padding: 24px 0px;
  border: 1px solid rgba(128, 128, 128, 0.8);
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 48px;
  padding: 0px 24px;
  flex: 1;
}

.inputContainer {
  position: relative;
}

.textField {
  flex: 1;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
  font-size: 12px !important;
}

.inputTitleText {
  font-size: 20px !important;
}

.infoContainer {
  display: flex;
  min-width: 100%;
  grid-area: 2 / 1 / 2 / 3;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  border-left: 1px solid rgba(128, 128, 128, 0.8);
  padding: 0px 24px;
}

.actionButtonText {
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}
