.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 60px;
  position: relative;
  position: relative;
  margin-bottom: 60px;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: none;
  position: absolute;
  left: 30px;
  top: 160px;
  cursor: pointer;
  opacity: 0.2;
}

.xxxContainer {
  margin: auto;
  background: none;
  position: relative;
  width: calc(100% - 180px) !important;
  margin-top: -30px !important;
}

.xxx {
  background: none;
  padding-right: 0px !important;
  padding-top: 40px !important;
}

.xxxCurve {
  background: none;
  padding-right: 0px !important;
  padding-top: 40px !important;
  padding-right: 20px !important;
}

.xxxConvex {
  background: none;
  padding-right: 0px !important;
  padding-top: 40px !important;
  padding-left: 20px !important;
}

.columnRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: none;
  padding: 40px 0 0 40px;
  background: none;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
  margin-top: 0 !important;
}

.rewardsWrap {
  border-radius: 10px;
  border: 3px solid rgba(104,108,122,0.2);
  padding: 20px;
  height: 100%;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
  .container {
    padding-top: 0px;
  }

  .xxxContainer {
    margin: auto;
    background: none;
    position: relative;
    width: calc(100% - 80px) !important;
    margin-top: -30px !important;
  }

  .columnRight {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1000px) {

}
