.container {
  width: 100%;
  background-image: linear-gradient(0deg ,#1c46f5 0,#0005d3);
  margin-bottom: 160px;
  padding: 0px 24px;
  position: relative;
}

.assetTitleContainer {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  padding: 48px 0px 120px 0px;
  align-items: center;
  justify-content: space-between;
  min-height: 264px;
}

.assetTitle {
  display: flex;
  align-items: center;
}

.assetIcon {
  margin-right: 24px !important;
}

.assetName {
  font-size: 30px !important;
  color: #fff;
}

.assetPrice {
  font-size: 20px !important;
  color: rgba(256, 256, 256, 0.5);
}

.assetBalance {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.balanceIcon {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 12px;
  font-size: 60px !important;
  margin-right: 24px !important;
}

.flex1 {
  flex: 1;
}

.backButton {
  position: absolute;
  top: 30px;
}

.backIcon {
  color: #fff;
}
