.container {
  width: calc(100% - 180px);
  margin: 40px auto;
  border-radius: 20px;
  background: #234ce7;
  position: relative;
}

.title {
  /* background: rgba(256, 256, 256, 0.2); */
  border-radius: 30px;
  padding: 4px 0px;
  width: fit-content;
  color: #fff !important;
  font-size: 13px !important;
}

.assetTitleContainer {
  max-width: 1356px;
  display: flex;
  margin: 0 auto;
  padding: 40px 40px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.assetTitle {
  display: flex;
  align-items: center;
}

.assetIcon {
  margin-right: 24px !important;
}

.overviewIcon {
  color: #fff;
  font-size: 30px !important;
}

.iconWrap {
  min-width: 80px !important;
  min-height: 80px !important;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px !important;
}

.assetName {
  font-size: 30px !important;
  color: #fff;
}

.assetPrice {
  font-size: 20px !important;
  color: rgba(256, 256, 256, 0.5);
}

.stakedAmount {
  font-size: 33px !important;
  color: rgba(256, 256, 256, 1);
  font-weight: 700 !important;
  margin: 0px 0 5px 0 !important;
}

.assetSymbol {
  font-size: 13px !important;
  color: rgba(256, 256, 256, 0.7);
  margin-top: 5px !important;
}

.assetBalance {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 26%;
}

.balanceIcon {
  color: #fff;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  padding: 12px;
  font-size: 60px !important;
  margin-right: 24px !important;
}

.flex1 {
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100%);
    margin-top: 60px;
    border-radius: 0;
  }
}
