.container {
  width: calc(100% - 180px);
  display: flex;
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 10px 0px;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    display: flex;
    border: 1px solid rgba(104, 108, 122, 0.25);
    margin: auto;
    margin-bottom: 60px;
    padding: 0 0 10px 0px;
  }
}

@media screen and (max-width: 960px) {

}
