.container {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 30px auto 0px auto !important;
  padding: 0px 0 30px 0;
  /* min-height: calc(100% - 81px); */
}

.actionButtons {
  padding: 0px;
  text-align: center !important;
}

.overviewIcon {
  font-size: 60px !important;
  margin-bottom: 20px;
  opacity: 0.4;
}

.centerGridRows {
  text-align: center !important;
  margin: 60px auto;
}

.actionButtonText {
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.loadingCircle {
  margin-left: 6px !important;
}

.helpText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #52af77 !important;
}

.errorText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #da0052 !important;
}

.buttonOverride {
  background: MediumSeaGreen !important;
  color: #FFF !important;
  font-weight: 700 !important;
  box-shadow: none !important;
  width: calc(100% - 140px);
  /* margin-right: 0px !important; */
  margin: 20px 0 0 0 !important;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 60px;
    padding: 20px;
    height: calc(100%);
  }
}
