.ffContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 60px;
  position: relative;
}

.notConnectedContent {
  width: calc(100% - 100px) !important;
  background-image: url('/images/bg-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 45px auto 0 auto;
  text-align: center;
  padding: 50px;
  height: calc(100vh - 160px);
  box-shadow: none !important;
  border: 1px solid rgba(104,108,122, 0.2) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.overviewIcon {
  font-size: 110px !important;
  margin-bottom: 30px;
  margin-top: -80px;
  margin-left: -40px;
}

.mainHeading {
  margin: 50px auto 0px auto !important;
  text-align: left !important;
  font-size: 20px !important;
  width: calc(100% - 180px) !important;
}

.mainDesc {
  margin: 20px auto 0px auto !important;
  text-align: left !important;
  color: rgb(104,108,122);
  font-size: 14px !important;
  width: calc(100% - 180px) !important;
}

.mainHeadingNC {
  text-align: center !important;
  font-size: 30px !important;
}

.mainDescNC {
  margin: 30px auto !important;
  text-align: center !important;
  color: rgb(104,108,122);
  font-size: 18px !important;
  max-width: 800px;
  line-height: 1.8rem !important;
}

.buttonConnect {
  background: linear-gradient(-45deg, #c000ff, #FF007A);
	background-size: 200% 200%;
	animation: gradient 35s ease infinite;
  color: #FFF !important;
  border-radius: 40px !important;
  padding: 12px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
  .ffContainer {
    padding-top: 0px;
  }
}

@media screen and (max-width: 1000px) {

}
