.navigationContainer {
  position: fixed;
  top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  padding: 24px 0px 24px 0px;
  border-radius: 0px !important;
  border-right: 1px solid rgba(128,128,128, 0.2);

  max-height: calc(100vh - 657px);
  overflow-y: scroll;
  overflow-x: hidden;
}

a.linkz { cursor: pointer !important; }

.icon {
  width: 20px !important;
  height: 20px !important;
  margin: 5px 24px 5px 20px;
  background: red;
}

.navigationHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navigationContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}

.ffTitle {
  cursor: pointer;
  font-size: 24px !important;
  color: #1c46f5 ;
}

.navigationContentMobile {
  display: none;
}

.navigationOptionActive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  margin: 12px 0px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(63,94,251,0.7) 0%, rgba(47,128,237,0.7) 48%) rgba(63,94,251,0.7) 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.socialgrid {
  text-align: center;
  padding: 0 45px;
}

.socialButton {
  padding: 0px;
  width: 20px !important;
  height: 20px !important;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: unset;
}

.telegram {
  background-image: url('/socials/telegram.svg');
}
.medium {
  background-image: url('/socials/medium.svg');
}
.twitter {
  background-image: url('/socials/twitter.svg');
}
.github {
  background-image: url('/socials/github.svg');
}
.discord {
  background-image: url('/socials/discord.svg');
}

.navigationContentNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.headerThings {
  display: none;
}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.2rem;
}

.backButton {
  flex: 1;
}

.accountButton {
  display: flex;
  align-items: center;
  margin-left: 24px !important;
}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}


.menuIcon {
  display: none;
}

.backButtonContainer {
  display: none;
}

.smallVersion {
  font-size: 10px !important;
  letter-spacing: 1px;
  padding-top: 0px;
}


.navigationOptionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px 0px;
  width: 100%;
  cursor: pointer;
}

.subAssets {

}

.navigationSubOptionContainer {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  width: 100%;
  cursor: pointer;
  /* background: blue; */
}

.subtitleText {
  padding-left: 12px;
  font-size: 14px !important;
  margin: 0 !important;
}

.sectionDivider {
  width: calc(100% - 52px);
  height: 1px;
  background: rgba(104,108,122,0.15);
  margin: 16px 0 15px 26px;
}

.sectionText {
  color: rgba(104, 108, 128, 0.8);
  /* color: #234ce7; */
  font-size: 13px !important;
  cursor: default;
  margin: 0 0 0 11px !important;
  padding: 0 !important;
}

.navigationOptionSelected {
  border-left: 3px solid rgba(0, 0, 0, 1);
  border-radius: 0px 8px 8px 0px;
  height: 32px;
  margin-right: 13px;
  color: red !important;
}

.navigationOptionSelectedWhite {
  border-left: 3px solid rgba(256, 256, 256, 1);
  border-radius: 0px 8px 8px 0px;
  height: 32px;
  margin-right: 13px;
}

.navigationOptionNotSelected {
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0px 8px 8px 0px;
  height: 32px;
  margin-right: 10px;
}

.navigationOptionIconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigationOptionContainer:hover .navigationOptionIcon {
  background: #000;
  padding: 12px;
  border-radius: 24px;
}

.navigationOptionIcon {
  padding: 12px;
  height: 48px;
  width: 48px;
  font-size: 24px !important;
}

.navigationOptionIconSelected {
  height: 48px;
  width: 48px;
}

.icon {
  width: 0px !important;
  height: 0px !important;
  margin: 0;
}

.subIcon {
  margin: 0px 24px 0px 12px;
}

.iconSelected {
  width: 48px !important;
  height: 48px !important;
  margin-right: 12px;
}

.yearnLogo {
  width: 130px !important;
  height: 25px !important;
  left: 20px;
  top: 16px;
  position: absolute;
  cursor: pointer !important;
}

.iconHack {
  width: 24px !important;
  height: 24px !important;
  margin: 12px;
}

.warningIcon {
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .navigationContainer {
    position: fixed;
    min-height: 60px;
    display: flex;
    top: 0;
    width: 100%;
    padding: 24px 12px;
    border-radius: 0px !important;
    z-index: 10020;
  }
  .socials {
    display: none;
  }
  .navigationContent {
    display: none;
  }
  .navigationContentMobile {
    position: fixed;
    top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 100vh;
    z-index: 9;
    align-items: center;
    border-radius: 0 !important;
    text-align: center !important;
  }
  .menuIcon {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    transform: scale(0.8);
  }
  .navigationHeading {
    width: 100%;
    display: block;
  }
  .headerThings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .backButtonContainer {
    position: absolute;
    top: 24px;
    left: 12px;
    display: flex;
  }

  .subtitleText {
    padding-left: 0px;
    font-size: 15px !important;
    margin: 0 !important;
    text-align: center !important;
  }

  .navigationOptionNotSelected {
    margin-right: 0px;
  }

  .navigationOptionSelected,
  .navigationOptionSelectedWhite {
    display: none !important;
  }

  .navigationOptionActive {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px auto !important;
    width: 100%;
    border-radius: 10px;
    text-align: center !important;
    cursor: pointer;
    background: radial-gradient(circle, rgba(63,94,251,0.7) 0%, rgba(47,128,237,0.7) 48%) rgba(63,94,251,0.7) 100%;
  }

  .sectionText {
    color: rgba(104, 108, 128, 0.8);
    /* color: #234ce7; */
    font-size: 13px !important;
    cursor: default;
    margin: 10px 0 10px 0px !important;
    padding: 0 !important;
    text-align: center !important;
  }

  .navigationOptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px;
    width: 100%;
    cursor: pointer;
  }

  .navigationSubOptionContainer {
    text-align: center !important;
    justify-content: center;
    padding: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .navigationOptionNotSelected {
    margin-right: 0px;
  }

  .smallVersion,
  .sectionDivider {
    display: none;
  }

  .navigationSubOptionContainer {
    text-align: center !important;
    justify-content: center;
    padding: 0 !important;
  }

  .sectionText {
    margin: 10px 0 10px 0px !important;
    padding: 0 !important;
  }
}
