.container {
  width: calc(100% - 48px);
  max-width: 1356px;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 50px;
  position: relative;
  top: -240px;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.lpOptionsContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.topLeftButton {
  border-top-left-radius: 10px !important;
  border-bottom: 1px solid rgba(104, 108, 122, 0.25) !important;
  width: 100%;
  min-height: 85px;
}

.bottomLeftButton {
  border-bottom-left-radius: 10px !important;
  width: 100%;
  min-height: 85px;
}

.inputsContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 0px; */
  padding: 0px 24px;
  /* flex: 1; */
}

.multiApproval {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.multiApprovalButton {
  min-width: auto;
}

.inputContainer {
  position: relative;
}

.textField {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activeIcon {
  height: 10px;
  width: 10px;
  background-color: #0ba360;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 12px;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
  font-size: 12px !important;
}

.inputTitleText {
  font-size: 17px !important;
  margin-bottom: 10px !important;
}

.infoContainer {
  display: flex;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-top: 32px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  border-left: 1px solid rgba(104, 108, 122, 0.25);
  padding: 0px 24px;
  width: 100%;
  height: 100%;
}

.actionButtonText {
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.reAddPadding {
  padding: 24px 0px;
  display: flex;
  flex: 1;
}

.loadingCircle {
  margin-left: 6px !important;
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  width: 100%;
}

.button {
  border-radius: 0px !important;
  flex: 1;
  border-right: 1px solid rgba(104, 108, 122, 0.25) !important;
  transition: none !important;
  opacity: 1;
  color: rgba(104, 108, 122, 0.5) !important;
}

.buttonActive {
  border-radius: 0px !important;
  flex: 1;
}

.amountAndPercent {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 12px;
  padding-bottom: 12px;
}

.actionsContainerWithdraw {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  border-left: 1px solid rgba(128, 128, 128, 0.8);
  padding: 0px 24px;
  width: 100%;
}

.extraTF {
  padding-bottom: 12px;
}

.buttonOverride {
  background: #114DF0 !important;
  color: #FFF !important;
  font-weight: 700 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1280px) {
  .actionsContainer {
    border-left: 0px solid rgba(104, 108, 122, 0.25) !important;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 0px;
  }

  .buttonWrap {
    margin-top: 20px !important;
  }

  .actionsContainer {
    border-left: 0px solid rgba(104, 108, 122, 0.25) !important;
  }
}

@media screen and (max-width: 960px) {
  .container {
    margin-top: 40px;
  }

  .toggleButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .actionsContainer {
    border-left: 0px solid rgba(104, 108, 122, 0.25) !important;
  }

  .topLeftButton {
    border-top-left-radius: 10px !important;
    border-right: 1px solid rgba(104, 108, 122, 0.25) !important;
    border-bottom: 1px solid rgba(104, 108, 122, 0.25) !important;
    min-height: 83px;
  }

  .bottomLeftButton {
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom: 1px solid rgba(104, 108, 122, 0.25) !important;
    min-height: 83px;
  }

  .inputsContainer {
    margin-top: -90px;
  }
}
