  .container {
  width: calc(100% - 180px);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  background: LightSlateGray;
}

.valueItem {
  width: 100%;
  background: none;
  text-align: left !important;
}

.fieldsContainer {
  display: flex;
  margin: 0 auto;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.field {
  display: flex;
}

.title {
  border-radius: 30px;
  padding: 4px 0px;
  width: fit-content;
  color: #FFF !important;
  font-size: 14px !important;
}

.value {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #FFF !important;
}

.subValue {
  color: #FFF !important;
  font-size: 13px !important;
  margin-top: 1px !important;
}

.inline {
  display: flex;
  align-items: flex-end;
}

.valueSymbol {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #fff !important;
  margin-bottom: 4px !important;
  margin-left: 3px !important;
}

.balanceIcon {
  color: #fff;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  padding: 16px;
  font-size: 70px !important;
  margin-right: 24px !important;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.tooltipContainer {
  min-width: 200px;
}

.tooltipValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.val {
  flex: 1;
}

.valBold {
  flex: 1;
  font-weight: bold !important;
}

.overviewIcon {
  color: #fff;
  font-size: 30px !important;
}

.iconWrap {
  width: 80px;
  height: 80px;
  color: #000;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 0px);
    margin: 0px auto 20px auto;
    border-radius: 0px;
    position: absolute;
    top: 120px;
  }

  .fieldsContainer {
    padding: 40px 40px;
    align-items: center;
    min-height: 100px;
  }

  .overviewIcon {
    color: #fff;
    font-size: 20px !important;
  }

  .title {
    border-radius: 30px;
    padding: 4px 0px;
    width: fit-content;
    color: #FFF !important;
    font-size: 14px !important;
  }

  .value {
    font-size: 30px !important;
    font-weight: bold !important;
    color: #FFF !important;
  }
}

@media screen and (max-width: 1440px) {
  .value {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    top: 115px;
  }
}
