.newSwapContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 72px);
  align-items: center;
}

.swapContainer {
  max-width: 485px;
  width: 100%;
  padding: 24px;
  min-height: 542px;
  display: flex;
  flex-direction: column;
}

.swapInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  align-items: center;
}

.error {
  border: 1px solid #dc3545;
}

.whiteBackground {
  background: #fff;
}

.massiveInputAssetSelect {
  width: 124px;
  min-height: 124px;
  height: 100%;
}

.massiveInputAmount {
  flex: 1;
  height: 100%;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displaySelectContainer {
  padding: 12px;
  min-height: 100px;
  cursor: pointer;
}

.displayDualIconContainer {
  width: 100px;
  position: relative;
}

.displayDualIconContainerConfirm {
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.displayDualIconContainerSmall {
  width: 60px;
  position: relative;
  margin-right: 24px;
}

.displaySelect {
  display: flex;
  align-items: center;
}

.displaySelectContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.searchContainer {
  padding: 24px;
  height: 600px;
}

.assetSearchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-width: 390px;
}

.withBalanceToggle {
  margin-left: 12px !important;
}

.displayAssetIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50px;
  background: #fff;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.displayAssetIconSmall {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 30px;
  background: #fff;
  padding: 6px;
}

.displayChainIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 60px;
  right: 0px;
  background: #fff;
}

.displayChainIconSmall {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 30px;
  right: -5px;
  background: #fff;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.inputBalance {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
  cursor: pointer;
}

.textField {
  margin-top: 12px;
  margin-bottom: 12px;
}

.largeInput {
  font-size: 46px !important;
}

.addressInput {
  font-size: 16px !important;
  padding: 12px;
}

.backButton {
  min-width: 100px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmSwap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swapConfirmContainer {
  margin-top: 12px;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.chainDescrPadding {
  padding-top: 12px;
  padding-bottom: 24px;
}

.swapConfirmSide {
  border: 1px solid rgba(128, 128, 128,  0.5);
  border-radius: 10px;
  padding: 24px 6px;
}

.addressField {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 6px 12px;
  width: 100%;
  margin: 12px 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 44px;
  cursor: pointer;
}

.swapDepositInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qrPreview {
  padding: 24px;
  height: 148px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFlex {

}

.flexy2 {
  display: flex;
  justify-content: flex-end;
}

.flexy {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.assetSelectMenu {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.txInfoContainer {
  margin-left: 12px;
  flex: 1;
}

.assetSelectBalance {
  flex: 1;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirmationsText {
  padding-bottom: 12px;
}

.swapIconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapIcon {
  cursor: pointer;
  padding: 12px;
  font-size: 60px !important;
}

.swapInfoContainer {
  width: 485px;
}

.swapInfo {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}

.swapInfoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.inlineText {
  padding-left: 4px;
  padding-right: 4px;
}

.swapDirection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0px;
}

.swapDirectionHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightArrow {
  margin-right: 18px;
  margin-left: 18px;
}

.marginRightNone {
  margin-right: 0;
}

.skelly {
  margin-bottom: 12px;
  margin-top: 12px;
}

.skelly1 {
  margin-bottom: 6px;
  margin-top: 6px;
}

.skelly2 {
  margin-left: 24px;
}

.inline {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swapStatusContainer {
  padding: 24px 24px 12px 24px;
  width: 500px;
  border-radius: 10px;
}

.info {
  border-left: 5px solid #2F80ED;
}

.success {
  border-left: 5px solid #4caf50;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.swapHeader {
  flex: 1;
}

.closeIcon {
  position: absolute !important;
  right: 12px;
  top: 12px;
}

.limitsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  width: fit-content;
}

.infoIcon {
  margin-right: 12px;
}

.tooltipNoMaxWidth {
  max-width: none;
}

.searchInline {
  display: flex;
  align-items: center;
}

.actionsContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .swapContainer {
    padding: 12px;
  }
  .newSwapContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .swapContainer {
    padding: 12px;
  }
  .addressInput {
    font-size: 12px !important;
  }
  .largeInput {
    font-size: 36px !important;
  }
  .addressField {
    font-size: 12px !important;
  }
  .swapInfoContainer {
    width: 100%;
  }
}
