.ffContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 60px;
  position: relative;
  position: relative;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
  .ffContainer {
    padding-top: 0px;
  }
}

@media screen and (max-width: 1000px) {

}
